<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Maciej Lis</title>
</head>

<body>  
    <div class="container">
       <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 iso-item">
            <div class="thumbnail">
                <div style="background: #ccc; overflow: hidden;">
                    <center><img src="/static/{{x.event_img}}" alt="..." style="min-height:50px; height:200px; overflow: hidden;"></center>
                </div>
                <div class="caption">
                    <h4>Wander Tower Defence</h4>
                    <p>I always loved tower defence games, so I thought I would make one.</p>
                    <span class="badge">python</span> <span class="badge">pyQT</span>
                </div>
                <a href="#" class="btn btn-primary" style="width: 100%">Check it out on github</a> 
            </div>
            
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
</body>
</html>

